.foodItem {
  /* main */
  background-color: rgb(235, 186, 180);
  width: 60%;
  height: 80px;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px 5px;
  align-items: center;
  justify-content: space-around;
}

.foodName {
  /* justify-self: flex-start; */
  /* align-self: center; */
}
.foodPrice {
}

.foodPriceNumber {
  font-weight: bold;
}
.foodAmount {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.btnAdd {
  /* text-align: center; */
}

.hidePlural{
    color:transparent;
    /* color:green; */
}